html {
  scroll-behavior: smooth;
    transition: all 0.3s ease;
}
@font-face {
  font-family: 'Alfa';
  src: url('../assets/font/LeagueGothic-Regular.woff') format('woff');

}

/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* optional: dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #fc6c07;
  /* black scrollbar */
  border-radius: 4px;
}

.container {
  max-width: 1280px !important;
  padding: 0px 20px;
  margin: auto;
}

.wraper_sh {
  background-color: black;
}

.heading_font {
    font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
 
}

.video-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 18%);
  z-index: 2;
  pointer-events: none;
}

.banneroverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  /* vertical center */
  justify-content: center;
  /* horizontal center */
  text-align: center;
}
.sohail_info {
    box-shadow: 0 4px 15px 0 rgba(252, 108, 7, 0.5), 0 8px 30px 0 rgba(255, 60, 172, 0.3);
    transition: all .3s ease-in-out;
       background-image: url(../assets/images/social-media-expert-4.jpg);
        background-size: cover;
    border-radius: 21px;
    padding: 60px 0px;
}
.shopify_logo{
  background-image: url(../assets/images/social-media-expert-4.jpg);
        background-size: cover;
        
}
.glow-wrapper {
  --a: 0deg;
  --l: #0000 0% 70%, #fc6c07;
  border-radius: 20px;
  padding: 3px; /* border thickness */
  background: repeating-conic-gradient(from var(--a), var(--l));
  animation: rotateBorder 2s linear infinite;
  filter: url(#glow-0);
  width: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  height: 100%;
}
/* // transformaer settings */
@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



@keyframes rotateBorder {
  to {
    --a: 1turn;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
}

.banner_inner_text {
  background-color: #15151880;
  padding: 1.78em 1.5em;
  border: 1px solid #474753;
}

.menu {
  background-color: #15151880;
  border: 1px solid #474753;
  justify-content: center;
  align-items: center;
  padding: 1.78em 3.5em;
  display: flex;
}

.pathimportant {
  fill: black !important;
}

path,
svg,
a {
  transition: all 0.3s ease-in-out !important;
  cursor: pointer;
}

.logo_each:hover path {
  fill: #fc6c07;
}

.linkdlen:hover path {
  fill: #fc6c07;
}

.github:hover path {
  fill: #fc6c07;
}

.whatsapp:hover path {
  fill: #fc6c07;
}

.hamburger:hover path {
  fill: #fc6c07;
}

svg .shopify-bg:hover path {
  fill: #fc6c07;
}

span#typewriter {
  height: 89px;
  display: block;
}

@media (min-width: 1091px) {
.menu {
  gap: 39px;
}
}


.scroll-track {
  display: flex;
  flex-direction: column;
  animation: scroll-loop 10s linear infinite;
}

@keyframes scroll-loop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes scroll-loopmob {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.circle {
  width: 9.75em;
  height: 9.75em;
}

@media (max-width: 1308px) {
  .circle {
    width: 6.75em;
    height: 6.75em;
  }
  .circle svg {
    width: 40px !important;
  }
}

@media (max-width: 1102px) {
  .skill_main {
    gap: 95px;
  }
}
@media (max-width: 1102px) {
  .skill_main {
    flex-direction: column;
    height: 640px !important;
    padding: 40px 0px;
  }
  .scroll-track {
    flex-direction: row;
    gap: 160px;
  }
  .scroll-track {
    animation: scroll-loopmob 10s linear infinite;
  }
  .logo_left {
    order: 2;
    flex-direction: column !important;
  }
  .skills {
    flex-direction: column;
  }
  .logos {
    flex-direction: row !important;
    gap: 72px !important;
  }
  .circle {
    width: 104px;
    height: 104px;
  }
}
@media (max-width: 768px) {
  .wordpress_projects svg, .shopify_logo svg {
    width: 50px;
}
.wordpress_projects .shopify_logo, .shoopify_project .shopify_logo {
width: 82px !important;
height: 77px !important;
}
    .scroll-track {
      flex-direction: row !important;
    }
  .banneroverlay {
    position: static;
    padding: 20px 20px;
  }
  .banner_inner_text {
    padding: 20px 10px !important;
    width: unset !important;
    height: unset !important;
  }
  span#typewriter {
    height: 122px;
    display: block;
  }
  p {
    letter-spacing: 0px;
    font-size: 17px;
}
  .sohail_info {
    flex-direction: column;
  }
  .logos.flex.flex-col.gap-\[29px\] {
    flex-direction: row;
    gap: 38px;
  }
  .skill_main {
    gap: 59px;
    height: 750px !important;
  }
  .currently_working {
    position: static !important;
    width: fit-content;
    margin: auto;
    transform: unset !important;
  }
  .sohail_image{
    width: 95% !important;
  }
}
@keyframes subtleDance {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-3px) rotate(-1deg); }
  40%  { transform: translateY(3px) rotate(1deg); }
  60%  { transform: translateY(-2px); }
  80%  { transform: translateY(2px); }
  100% { transform: translateY(0); }
}
.dancing-button{
    animation: subtleDance 2s infinite ease-in-out;
    font-family: "Oswald", sans-serif;
}


.skill_main:hover{
   box-shadow: 0 4px 15px 0 rgba(252, 108, 7, 0.5), 
              0 8px 30px 0 rgba(255, 60, 172, 0.3);
  transition: all .3s ease-in-out;
}

.project_video::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000004d;
    top: 0px;
}
.project_logo {
    /* padding: 41px 24px; */
    background-color: #15151880;
    border: 1px solid #474753;
    border-radius: 100%;
    transition: all .3s ease-in-out;
    
    display: flex !important
;
    justify-content: center;
    align-items: center;
}
.white_logobg{
      background-color: #c9c9d480;
      border: 1px solid #ffffff;
}
.project_logo:hover{
   box-shadow: 0 4px 15px 0 rgba(252, 108, 7, 0.5), 0 8px 30px 0 rgba(255, 60, 172, 0.3);
}
.project_text{
  height: 300px;
    overflow: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
}
.swiper-slide.relative img::after{
  content: "";
  width: 100% !important;
  width: 100% !important;
  position: absolute;
  background-color: #fc6d071c;
  top: 1px;
  z-index: 100;
}

.eye-container {
    position: relative;
    width: 34px;
    height: 15px;
}

.eye {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #fff 50%, #fc6c07 51%);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.eyelid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fc6c07;
  transform-origin: top;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% { transform: scaleY(0); }
  48% { transform: scaleY(0); }
  50% { transform: scaleY(1); }
  52% { transform: scaleY(0); }
}
.relative.banner_video::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: #00000091;
}
header {
  position: sticky;
  top: 1px;
  width: 100%;
  z-index: 100000;
  transition: all 0.3s ease;
}

header.scrolled {
  backdrop-filter: blur(6px);
  padding: 13px 0px !important;

}

    .animate-up {
      animation: slideUp 1s forwards;
    }
    .animate-down {
      animation: slideDown 1s forwards;
    }
    .fade-out {
      animation: fadeOut 1s forwards;
    }
    .progress-bar::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background:#eb6506;
      animation: progress 6.5s linear forwards;
    }

    @keyframes slideUp {
      to {
        transform: translateY(-100%);
      }
    }
    @keyframes slideDown {
      to {
        transform: translateY(100%);
      }
    }
    @keyframes fadeOut {
      to {
        opacity: 0;
        transform: scale(0.9);
      }
    }
    @keyframes progress {
      to {
        width: 100%;
      }
    }
    .heading_font {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.splash_screen {
  background-image: url(https://res.cloudinary.com/datijnnw8/image/upload/v1752658740/splash_desktop_vrsihf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {

  .splash_screen {
    background-image: url(https://res.cloudinary.com/datijnnw8/image/upload/v1752658828/Screenshot_2025-07-16-14-35-38-066-edit_com.android.chrome-min_ir23t5.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
 .splash_shopify_logo {
 
  left: 10px !important;
   animation: dropToBottomMobile 2.5s ease-out forwards !important;
  width: 50px !important;
}
.splash_wordpress_logo {
 
  right: 10px !important;
   animation: dropToBottomMobile 2.5s ease-out forwards !important;
  width: 50px !important;
}
.splash_logo{
  width: 60px !important; 
}
}
.splash_logo {
    transform: rotate(-15deg);
}
@keyframes dropToBottom {
  0% {
    top: -150px;
  }
  70% {
    top: calc(100vh - 100px); 
  }
  85% {
    top: calc(100vh - 130px); 
  }
  100% {
    top: calc(100vh - 100px); 
  }
}

.splash_shopify_logo {
  position: absolute;
  left: 30px;
  animation: dropToBottom 2.5s ease-out forwards;
  z-index: 100000;
  width: 70px;
}
.splash_wordpress_logo {
  position: absolute;
  right: 30px;
  animation: dropToBottom 2.5s ease-out forwards;
  z-index: 100000;
  width: 70px;
}


@keyframes dropToBottomMobile {
  0% {
    top: -150px;
  }
  70% {
    top: calc(100vh - 100px);
  }
  85% {
    top: calc(100vh - 130px);
  }
  100% {
    top: calc(100vh - 63px);
  }
}

header#mainHeader
 {
    overflow: hidden;
}

