html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Alfa';
  src: url('../assets/font/LeagueGothic-Regular.woff') format('woff');

}

/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* optional: dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #fc6c07;
  /* black scrollbar */
  border-radius: 4px;
}

.container {
  max-width: 1280px !important;
  padding: 0px 20px;
  margin: auto;
}

.wraper_sh {
  background-color: black;
}

.heading_font {
    font-family: "Oswald", sans-serif;
  /* font-weight: bold; */
 
}

.video-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 18%);
  z-index: 2;
  pointer-events: none;
}

.banneroverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  /* vertical center */
  justify-content: center;
  /* horizontal center */
  text-align: center;
}
.sohail_info {
    box-shadow: 0 4px 15px 0 rgba(252, 108, 7, 0.5), 0 8px 30px 0 rgba(255, 60, 172, 0.3);
    transition: all .3s ease-in-out;
       background-image: url(../assets/images/social-media-expert-4.jpg);
        background-size: cover;
    border-radius: 21px;
    padding: 60px 0px;
}
.glow-wrapper {
  --a: 0deg;
  --l: #0000 0% 70%, #fc6c07;
  border-radius: 20px;
  padding: 3px; /* border thickness */
  background: repeating-conic-gradient(from var(--a), var(--l));
  animation: rotateBorder 2s linear infinite;
  filter: url(#glow-0);
  width: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  height: 100%;
}
/* // transformaer settings */
@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



@keyframes rotateBorder {
  to {
    --a: 1turn;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-size: 17px;
}

.banner_inner_text {
  background-color: #15151880;
  padding: 1.78em 3.5em;
  border: 1px solid #474753;
}

.menu {
  background-color: #15151880;
  border: 1px solid #474753;
  justify-content: center;
  align-items: center;
  padding: 1.78em 3.5em;
  display: flex;
}

.pathimportant {
  fill: black !important;
}

path,
svg,
a {
  transition: all 0.3s ease-in-out !important;
  cursor: pointer;
}

.logo_each:hover path {
  fill: #fc6c07;
}

.linkdlen:hover path {
  fill: #fc6c07;
}

.github:hover path {
  fill: #fc6c07;
}

.whatsapp:hover path {
  fill: #fc6c07;
}

.hamburger:hover path {
  fill: #fc6c07;
}

svg .shopify-bg:hover path {
  fill: #fc6c07;
}

span#typewriter {
  height: 89px;
  display: block;
}

@media (min-width: 1091px) {
.menu {
  gap: 39px;
}
}

@media (max-width: 1279px) {
  /* .menu_each {
    width: 125px !important;
  } */
}

/* .menu_each {
  width: 159px !important;
} */

.scroll-track {
  display: flex;
  flex-direction: column;
  animation: scroll-loop 10s linear infinite;
}

@keyframes scroll-loop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes scroll-loopmob {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.circle {
  width: 9.75em;
  height: 9.75em;
}

@media (max-width: 1308px) {
  .circle {
    width: 6.75em;
    height: 6.75em;
  }
  .circle svg {
    width: 40px !important;
  }
}

@media (max-width: 1102px) {
  .skill_main {
    gap: 95px;
  }
}
@media (max-width: 1102px) {
  .skill_main {
    flex-direction: column;
    height: 640px !important;
    padding: 40px 0px;
  }
  .scroll-track {
    flex-direction: row;
    gap: 160px;
  }
  .scroll-track {
    animation: scroll-loopmob 10s linear infinite;
  }
  .logo_left {
    order: 2;
    flex-direction: column !important;
  }
  .skills {
    flex-direction: column;
  }
  .logos {
    flex-direction: row !important;
    gap: 72px !important;
  }
  .circle {
    width: 104px;
    height: 104px;
  }
}
@media (max-width: 768px) {
    .scroll-track {
      flex-direction: row !important;
    }
  .banneroverlay {
    position: static;
    padding: 20px 20px;
  }
  .banner_inner_text {
    padding: 20px 10px !important;
    width: unset !important;
    height: unset !important;
  }
  span#typewriter {
    height: 105px;
    display: block;
  }
  .sohail_info {
    flex-direction: column;
  }
  .logos.flex.flex-col.gap-\[29px\] {
    flex-direction: row;
    gap: 38px;
  }
  .skill_main {
    gap: 59px;
    height: 750px !important;
  }
  .currently_working {
    position: static !important;
    width: fit-content;
    margin: auto;
    transform: unset !important;
  }
  .sohail_image{
    width: 50% !important;
  }
}
@keyframes subtleDance {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-3px) rotate(-1deg); }
  40%  { transform: translateY(3px) rotate(1deg); }
  60%  { transform: translateY(-2px); }
  80%  { transform: translateY(2px); }
  100% { transform: translateY(0); }
}
.dancing-button{
    animation: subtleDance 2s infinite ease-in-out;
}

@font-face {
  font-family: 'Alliance';
  src: url('/assets/font/Alliance.woff.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.skill_main:hover{
   box-shadow: 0 4px 15px 0 rgba(252, 108, 7, 0.5), 
              0 8px 30px 0 rgba(255, 60, 172, 0.3);
  transition: all .3s ease-in-out;
}